@import url(../css/general-sans.css);


/* VARIABLES */
:root {
    --c-dark: #32164f;
    --c-brand: rgb(103, 37, 180);
    --c-brand-light: rgb(128, 97, 190);
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --c-light-gray: rgb(186, 99, 229);
    --font-base: "GeneralSans", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

/* RESET & HELPERS */
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1 {
    font-size: 100px;
    font-weight: 600;
    color: var(--c-dark);
}

 h2, h3,h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}


.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}


/* BTN */
.btn {
    font-weight: 600;
    font-size: 14px;
    border-radius: 6px;
    padding: 10px 24px;
}

.btn1 {
    font-weight: 550;
    font-size: 30px;
    border-radius: 6px;
    padding: 15px 30px;
}

.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn1-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}

.btn1-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}

/* HERO */
#hero {
    background:  url(../images/Homepage.png);
    background-position: center;
    background-size: cover;
}

.p {
    font-weight: 400;
    color: rgb(194, 190, 196);
    height: 80px;
}


/* SECTION TITLE */
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


/* ICONBOX */
.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}

/* SERVICE */
.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

/* FOOTER */
footer {
    padding-top: 15px;
}

.footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
}

footer li,
footer p,
footer a {
    color: rgba(255,255,255,0.7);
}

