@import url(../css/general-sans.css);

:root {
    --c-dark: #231349;
    --c-brand: rgb(103, 37, 180);
    --c-brand-light: rgb(128, 97, 190);
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --c-light-gray: rgb(186, 99, 229);
    --font-base: "GeneralSans";
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

/* RESET & HELPERS */
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1 {
    font-size: 100px;
    color: var(--c-dark);
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}